.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top left, rgba(155, 89, 182, 0.4), transparent 60%),
              radial-gradient(circle at bottom right, rgba(39, 174, 96, 0.4), transparent 60%),
              #0a0a23;
  padding: 2rem;
}

.card {
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #eeeeee;
}

.codeBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: #1f1f2e;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.codeLabel {
  font-weight: bold;
  color: #ccc;
}

.code {
  font-weight: bold;
  background: #333;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
}

.button {
  background-color: #057A45;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s ease, transform 0.2s ease;
  box-shadow: 0 4px 15px rgba(122, 199, 79, 0.5);
  border: 0;
  width: 70%;
  padding: 1rem;
  font-size: medium;
  cursor: pointer;
}

.button:hover {
  background-color: #5fa03e;
  transform: translateY(-2px);
}
